### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
checkstyleidea.tmp/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd
.mvn/

### Terraform ###
terraform/alicloud/playground/.terraform/

### Turms Common ###
turms-server-common/target/

### Turms Servers ###
turms-gateway/dist/log/
turms-gateway/target/

turms-service/dist/log/
turms-service/target/

# We build the "turms-client-ast.json" when installing turms-admin
# so there is no need to git the file.
turms-admin/client/src/assets/turms-client-ast.json
turms-admin/cypress/screenshots/
turms-admin/cypress/videos/
turms-admin/data/
turms-admin/dist/
turms-admin/node_modules/

### Turms Server Test ###
turms-server-test-common/target
turms-server-test/target

### Turms Clients ###
turms-client-js/coverage/
turms-client-js/dist/
turms-client-js/node_modules/
turms-client-js/protoc/
turms-client-js/stats/

turms-client-kotlin/target/

turms-client-swift/.build/

### Turms Plugins ###
turms-plugins/turms-plugin-antispam/target/
turms-plugins/turms-plugin-minio/target/
turms-plugins/turms-plugin-rasa/target/
turms-plugin-demo/target/

### Turms Docs ###
turms-docs/src/.vitepress/temp/
turms-docs/src/.vitepress/cache/
turms-docs/src/.vitepress/dist/
turms-docs/node_modules/