### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
mvnw
mvnw.cmd
.mvn/

### Turms Common ###
turms-server-common/target/
turms-java-common/target/

### Turms Servers ###
turms/target/
turms/src/docs/
turms/dist/bin/

turms-gateway/target/

turms-admin/cypress/screenshots/
turms-admin/cypress/videos/
turms-admin/data/
turms-admin/dist/
turms-admin/node_modules/

turms-apm/target/

### Turms Server Test ###
turms-server-test-common/target
turms-server-test/target

### Turms Clients ###
turms-client-js/coverage/
turms-client-js/dist/
turms-client-js/node_modules/
turms-client-js/protoc/
turms-client-js/stats/

turms-client-kotlin/target/

turms-client-swift/.build/

### Turms Plugins ###
turms-plugins/turms-plugin-minio/target/
turms-plugin-demo/target/

### Turms Docs ###
turms-docs/src/.vuepress/dist/
turms-docs/node_modules/
