# Convert line endings automatically in case people don't have core.autocrlf set.
# If Git decides that the content is text, its line endings are converted
# to LF on checkin. When the file has been committed with CRLF, no conversion is done.
# Best practices:
# if from windows: git config --global core.autocrlf true
# if from unix: git config --global core.autocrlf input
* text=auto

core.safecrlf true

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.swift eol=lf
*.lua eol=lf
*.options eol=lf