body {
    overflow-y: hidden;
}

td {
    word-break: break-all;
}

.ant-breadcrumb {
    display: flex;
    align-items: center;
}

.ant-message-notice-content {
    max-width: 500px;
}

.ant-table-hide-scrollbar {
    overflow: hidden !important;
}

.turms-card {
    box-shadow: rgb(0 0 0 / 8%) 0 1px 4px;
}

/* Targets on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #fafafaff;
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}
