name: Test turms-admin

on: [ push, pull_request ]

jobs:
  ui-tests:
    runs-on: ubuntu-24.04
    container: cypress/browsers:node16.14.0-chrome99-ff97
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Install dependencies
        working-directory: turms-admin
        run: npm install

      - name: Verify formatting
        working-directory: turms-admin
        run: npm run lint

      - name: Cypress run
        uses: cypress-io/github-action@v6.7.7
        with:
          working-directory: turms-admin
          build: npm run build
          start: npm run serve
          wait-on: 'http://localhost:6510'