name: Test turms-plugin-minio

on: [ push, pull_request ]

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up Java
        uses: actions/setup-java@v4.5.0
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Maven Verify
        run: |
          mvn clean install -Dmaven.test.skip=true -am -B -pl turms-plugins/turms-plugin-minio --no-transfer-progress
          mvn verify -pl turms-plugins/turms-plugin-minio